.navbar {
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
  }
  
  .navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .navItem {
    margin: 0 15px;
  }
  
  .navLink {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .navLink:hover {
    color: #aaa;
  }